/* This is CSS */

/* This is filler */
#filler {
    font-size: 24;
}
/* This is filler */

/* This is footer */
footer {
    object-position: left;
    width: 100%;
    background-image: url(megaRenderBanner.jpg);
    color: darkgray;
    position: fixed;
    bottom: 0%;
}

h2 {
    height: 400px;
    background-image: url(Mami%20Icon%20Hardhat.png);
    background-repeat: no-repeat;
}
/* This is footer */

